.table {
    table-layout: fixed;
}

.red {
    background: #361a1a;
}

.purple {
    background: #4e154e;
}

.green {
    background: #071707;
}

.orange {
    background: #4e3a16;
}

.violet {
    background: #2c032c;
}

.blue {
    background: #0b0b46;
}

.yellow {
    background: #191907;
}
